{% extends "base.html" %}
{% load static %}

{% block title %}
    <title>Insurance - Policy Management</title>
{% endblock %}

{% block Css %}
<link rel="stylesheet" href="{% static 'css/policy-management.css' %}">
{% endblock %}


{% block content %}

<div class="policy-container">
    <header>
        <h1>Policy Management</h1>
        {% comment %} <input type="text" id="searchBar" placeholder="Search Policies..."> {% endcomment %}
        <a href="/add-policy/"><button class="btn-add">Add New Policy</button></a>
    </header>

    <table>
        <thead>
            <tr>
                <th>Policy ID</th>
                <th>Policy Name</th>
                <th>Policy Type</th>
                <th>Premium Amount</th>
                <th>Duration</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            {% if polices %}
            {% for policy in polices %}
            <tr id="policy-row-{{policy.id}}">
                <td>{{policy.id}}</td>
                <td>{{policy.policy_name}}</td>
                <td>{{policy.policy_type}}</td>
                <td>{{policy.premium_amount}}</td>
                <td>{{policy.duration_months}} Months</td>
                <td>
                    {% comment %} <a href="#"><button class="btn-edit">Edit</button></a> {% endcomment %}
                    <button class="btn-delete" data-id="{{policy.id}}">Delete</button>
                </td>
            </tr>
            {% endfor %}
            {% else %}
            <tr>
                <td>###</td>
                <td>No data</td>
                <td>No data</td>
                <td>No data</td>
                <td>
                    {% comment %} <button class="btn-edit" style="opacity: .2;" disable>Edit</button> {% endcomment %}
                    <button class="btn-delete" style="opacity: .2;">Delete</button>
                </td>
            </tr>
            {% endif %}
        </tbody>
    </table>
</div>

<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

<script>
    $(document).ready(function(){
        // Delete Claim
        $(".btn-delete").on("click", function (e) {
            e.preventDefault();
            const policyId = $(this).data("id");

            if (confirm("Are you sure you want to delete this policy?")) {
                $.ajax({
                    url: `/delete-policy/${policyId}/`,
                    method: "DELETE",
                    headers: { "X-CSRFToken": "{{ csrf_token }}" },
                    success: function (response) {
                        if (response.success) {
                            $(`#policy-row-${policyId}`).fadeOut();
                            alert(response.message);
                        } else {
                            alert(response.message);
                        }
                    }
                });
            }
        });
    });
</script>
{% endblock %}